
.ipynb_checkpoints/Movies Machine Learning-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - Predict NaNs - Kopie-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - Predict NaNs v2-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - Predict NaNs-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - StratifiedSample-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - StratifiedSample-checkpoint.ipynb
.ipynb_checkpoints/Movies Machine Learning - StratifiedSample-checkpoint.ipynb
